<div *ngIf="dataLoaded!=true" class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Yükleniyor Lütfen Bekleyin...</span>
</div>

<!-- Üst -carfilter Arama Çubuğu -->
<div class="content">
  <form class="d-flex md-auto">
    <input style="width: 91%;" class="form-control me-2"id="carDetailFilter"  type="text" placeholder="Arama ifadesi giriniz.."
      aria-label="Organik Arama" [(ngModel)]="carDetailFilter" [ngModelOptions]="{ standalone: true }" />
  </form>
</div>

 
<!-- brand ve color selector -->

  <div class="row mb-3">
    <div class="col-md-4">

      <select [(ngModel)]="brandFilter" class="form-select" aria-label="Default select example">
        <option value=0>Marka Seçiniz</option>
        <option *ngFor="let brand of brands" [value]="brand.brandId" [selected]="getSelectedBrand(brand.brandId)">{{brand.brandName}}</option>
        
      </select>

    </div>

    <div class="col-md-4">
      <select [(ngModel)]="colorFilter" class="form-select" aria-label="Default select example">
        <option value=0>Renk Seçiniz</option>
        <option *ngFor="let color of colors" [value]="color.colorId" [selected]="getSelectedColor(color.colorId)">{{color.colorName}}</option>
        
      </select>
    </div>

    <div class="col-md-3">
    <button routerLink="/cars/color/{{colorFilter}}/brand/{{brandFilter}}" class="btn btn-primary" type="button"  >Filtrele</button>
    </div>
  
  </div>

<!-- Araçlar - araç kartları -->

<div *ngIf="dataLoaded!=false" class="container">

  <div class="row ">

    <div *ngFor="let carDetails of carDetails | carFilter: carDetailFilter" class="col-md-4">

     

        <img *ngIf="carDetails.imagePath"
         routerLink="/cars/cardetail/{{ carDetails.carId }}" 

         [src]="carDetails.imagePath.length !== 0 ? imageUrl+carDetails.imagePath[0] : imageUrl + 'DefaultImage.jpg'"
          style="object-fit: cover;"  class="card-img-top" alt="...">

        <!-- <img *ngIf="!carDetails.imagePath" [src]="baseUrl+'DefaultImage.jpg'" class="card-img-top" alt="..."> -->


        <div class="card-body">

          <h5 class="card-title">{{carDetails.brandName}} {{carDetails.modelName}}</h5>


        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Marka:{{carDetails.brandName}}</li>
          <li class="list-group-item">Model:{{carDetails.modelName}}</li>
          <li class="list-group-item">Yıl:{{carDetails.modelYear}}</li>
          <li class="list-group-item">Renk:{{carDetails.colorName}}</li>
          <li class="list-group-item">Fiyat:{{carDetails.dailyPrice}} TL/Gün</li>
          <li class="list-group-item">Durum:{{carDetails.description}}</li>
        </ul>

        <div class="card-body">
          <button routerLink="/cars/cardetail/{{ carDetails.carId }}"   type="button" class="btn btn-primary">İncele</button>
          
        </div>

      </div>

    </div>
  </div>










<!-- <table *ngIf="dataLoaded!=false" class="table">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brand Name</th>
      <th scope="col">Model Name</th>
      <th scope="col">Color Name</th>
      <th scope="col">Model Year</th>
      <th scope="col">Daily Price</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{car.carId}}</td>

      <td>{{car.brandName}}</td>
      <td>{{car.modelName}}</td>  

      <td>{{car.colorName}}</td>
      <td>{{car.modelYear}}</td>
      <td>{{car.dailyPrice}}</td>
    </tr>
  </tbody>

</table> -->